/* ================ Allgemein ================ */

QMainWindow#main_window {
    background-color: #26282c;
}

.QSplitter::handle {
    background: #26282c;
}

/* ================ Spezifische Widgets ================ */

/* Title-Bar */

QPushButton#run_button {
    color: white;
    background-color: #198185;
}

QFrame#ev3_frame {
    border: 1px solid #3c444a;
    border-radius: 6px;
    background-color: transparent;
}

QLabel#ev3_connection_label, QLabel#ev3_battery_label {
    font-size: 12px;
    color: #d4d4d4;
}

QPushButton#minimize_button, QPushButton#maximize_button {
    border: 0px;
    border-radius: 0px;

    color: white;
    background-color: #26282c;
}

QPushButton#minimize_button:hover, QPushButton#maximize_button:hover {
    background-color: #3a3b3f;
}

QPushButton#close_button {
    border: 0px;
    border-radius: 0px;

    color: white;
    background-color: #26282c;
}

QPushButton#close_button:hover {
    background-color: #c42b1c;
}

/* -------- Editor-Tab-Leiste -------- */

QTabWidget#editor_tabs QTabBar {
    background-color: #191a1c;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

QTabWidget#editor_tabs QTabBar::tab {
    border: 3px solid #191a1c;
    border-radius: 7px;

    margin-right: -3px;

    font-size: 13px;
    font-family: "Segoe UI", sans-serif;
    font-weight: 510;

    height: 30px;
    padding: 0px 30px 1px 7px;
    min-width: 60px;
    max-width: 220px;
}


QTabWidget#editor_tabs QTabBar::tab:selected {
    color: #ffffff;
    background-color: #353539;
}

QTabWidget#editor_tabs QTabBar::tab:!selected {
    color: #d4d4d4;
    background-color: #191a1c;
}

QTabWidget#editor_tabs QTabBar::tab:!selected:hover {
    background-color: #202021;
}

QTabWidget#editor_tabs QTabBar::close-button {
    subcontrol-origin: padding;
    subcontrol-position: right;
    image: url("{ICON_PATH}/close.svg");
    border-radius: 3px;
}

QTabWidget#editor_tabs QTabBar::close-button:hover {
    background-color: #91131f;
}

/* -------- Code-Editor -------- */

QPlainTextEdit#code_editor {
    background-color: #1e1f22;
    color: #d4d4d4;
    border: 1px solid #191a1c;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

QWidget#line_number_area {
    background-color: #1e1f22;
}

/* -------- Bottom-Tab-Leiste -------- */

QTabWidget#bottom_tabs QTabBar {
    background-color: #191a1c;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

QTabWidget#bottom_tabs QTabBar::tab {
    border: 3px solid #191a1c;
    border-radius: 7px;

    margin-right: -3px;

    font-size: 13px;
    font-family: "Segoe UI", sans-serif;
    font-weight: 510;

    height: 22px;
    padding: 0px 5px 1px 5px;
    width: 60px;
}

QTabWidget#bottom_tabs QTabBar::tab:selected {
    color: #ffffff;
    background-color: #353539;
}

QTabWidget#bottom_tabs QTabBar::tab:!selected {
    color: #d4d4d4;
    background-color: #191a1c;
}

QTabWidget#bottom_tabs QTabBar::tab:!selected:hover {
    background-color: #202021;
}

/* -------- Konsole -------- */

QPlainTextEdit#console {
    background-color: #1e1f22;
    color: #d4d4d4;
    border: 1px solid #191a1c;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

QPlainTextEdit#terminal {
    background-color: #1e1f22;
    color: #d4d4d4;
    border: 1px solid #191a1c;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* -------- Sidebar -------- */

/* Obere Leiste */

QFrame#left_sidebar {
    background-color: #191a1c;
    border-radius: 5px;
}

QComboBox#left_sidebar_dropdown {
    background-color: #2e2f30;
    padding: 0px 0px 1px 4px;
    font-size: 14px;
    color: #cdd2d0;
}

QFrame#combo_popup {
    background-color: #2e2f30;
    border: none;
    border-radius: 4px;
}

QPushButton#combo_item {
    background: #2e2f30;
    border: none;
    border-radius: 4px;
    margin: 0px;
    padding: 0px;

    font-size: 13px;
    color: #cdd2d0;
}

QPushButton#combo_item:hover {
    background-color: #444649;
}

QPushButton#files_back_button, QPushButton#files_home_button, QPushButton#files_new_button, QPushButton#files_refresh_button {
    background-color: transparent;
}

QPushButton#files_back_button:hover, QPushButton#files_home_button:hover, QPushButton#files_new_button:hover, QPushButton#files_refresh_button:hover {
    background-color: #2e2f30;
}

/* Content-Area */

QWidget#files_widget {
    background: #191a1c;
}

QScrollArea#files_scroll_area {
    border: none;
    background: #191a1c;
}

QScrollArea#files_viewport {
    background: #191a1c;
}

QWidget#files_content {
    background: #191a1c;
}

QFrame#file_item {
    background: transparent;
    border: none;
    border-radius: 3px;
}

QFrame#file_item:hover {
    background: #086481;
}


QLabel#file_item_name {
    color: #d4d4d4;
}


QListWidget#lib_manager_list {
    background: #191a1c;
    border: 1px solid #555;
    border-radius: 5px;
}

QListWidget#lib_manager_list::item {
    background: transparent;
}

QPushButton#btn_install {
    background-color: #2e2f30;
    color: white;
    border: 1px solid #555;
    border-radius: 5px;
    padding: 3px 3px 3px 3px;
}

QPushButton#btn_install:hover {
    background-color: #404040;
}